.footer{
    padding-top: 75px;
    @media screen and(max-width: map-get($breakpoints, laptop)) {
    padding-top: 65px;
}
  @media screen and(max-width: map-get($breakpoints, tablet)) {
      padding-top: 40px;
  }    
}

.footer__top{
    display: flex;
    align-items: flex-start;
    padding-bottom: 50px;

    @media screen and(max-width: 985px) {
     flex-wrap: wrap;
     padding-bottom: 40px;
 }
   
}
.footer__logo{
width: 195px;
margin-right: 145px;
   @media screen and(max-width: 1150px) {
height: auto;
margin-right: 45px;
}
@media screen and(max-width: 1150px) {   
    margin-right: 99px;
}
}
.footer__nav{
   max-width: 367px;
   max-height: 128px;
 @media screen and(max-width: map-get($breakpoints, tablet)) {
     max-width: 340px;
 }
    @media screen and(max-width: map-get($breakpoints, mobile)) {
    max-width: 380px;
 }
}
.footer__nav-list{
    columns: 2;
    column-gap: 150px;


font-weight: 200;
font-size: 22px;
letter-spacing: 2px;
color: $txtWhite;

@media screen and(max-width: map-get($breakpoints, desktop)-50) {
     column-gap: 100px;
}
@media screen and(max-width: 985px) {
    column-gap: 184px;

    font-size: 18px;
    line-height: 21px;
}
 @media screen and(max-width: map-get($breakpoints, mobile)) {
     column-gap: 50px;
 }
}
.footer__nav-item{
    margin-bottom: 25px;
}
.footer__nav-link{
    transition: color 300ms linear;

&:hover,
&:focus {
    color: $txtGold;
}

&:active {
    color: $txtGoldDark;
}
}



.footer__social-list{
   margin-left: auto;
 display: flex;
 
 align-self: flex-end;
 max-width: 340px;
  @media screen and(max-width: 985px) {
          margin-top: 42px;
      }
}


.social-link:hover,
.social-link:focus{
   border: solid 1px $bgBtnGold;
    
}

.footer__underline{
    border-bottom: solid 3px #666666;
}




.footer-bottom{
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    

    font-weight: 200;
font-size: 22px;
line-height: 1;
letter-spacing: 2px;

color: $txtWhite;
}