.footer{
    padding-top: 75px;
    @media screen and(max-width: map-get($breakpoints, laptop)) {
    padding-top: 65px;

}
  @media screen and(max-width: map-get($breakpoints, tablet)) {
      padding-top: 40px;

  }
    
}
.footer__top{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 50px;
        min-height: 188px;
         @media screen and(max-width: map-get($breakpoints, laptop)) {
            

 }
         @media screen and(max-width: 985px) {
     flex-wrap: wrap;
     padding-bottom: 40px;
min-height: 250px;
 }
   
}
.footer__logo{
// position: relative;
// bottom: 5px;
width: 195px;
height: 50px;
}
// .footer__logo-txt {
//     position: relative;
//     top: 4px;
// }
.footer__nav{
    position: relative;
    top: 12px;
       width: 100%;
   max-width: 363px;
   max-height: 128px;
      @media screen and(max-width: 985px) {
       margin-right: 35px;

   }
}
.footer__nav-list{
    margin-left: 145px;
    flex: 1 0 100%;
   
max-width: 363px;
max-height: 128px;


    display: flex;
    flex-direction: column;
   align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 150px;


font-weight: 200;
font-size: 22px;
letter-spacing: 2px;
color: $txtWhite;







@media screen and(max-width: map-get($breakpoints, desktop)-50) {
    margin-left: 45px;
    column-gap: 100px;
}
@media screen and(max-width: 985px) {
 margin-left: 99px;
 column-gap: 184px;
    font-size: 18px;
line-height: 21px;
}
}
.footer__nav-item{
    width: 106px;
}
.footer__nav-link{
    padding: 10px 0;
    transition: color 300ms linear;

&:hover,
&:focus {
    color: $txtGold;
}

&:active {
    color: $txtGoldDark;
}
}
.footer__social-list{
position: relative;
top: 15px;

margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 100%;
    max-width: 340px;
          @media screen and(max-width: 985px) {
          margin-top: 42px;

      }
}
.social-item{
    width: 48px;
    height: 48px;
}
.social-link{
    width: 100%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #666666; 
    border-radius: 50%;
    transition: border 250ms linear;
}
.social-link:hover,
.social-link:focus{
   border: solid 1px $bgBtnGold;
    
}

.social-icon {
    width: 24px;
    height: 24px;
    fill: $bgWhite;
    transition: fill 250ms linear;
}
.social-link:hover .social-icon,
.social-link:focus .social-icon{
  fill: $txtGold;
}






.footer__underline{
    border-bottom: solid 3px #666666;
}


.footer-bottom{
    min-height: 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 200;
font-size: 22px;
line-height: 1;
letter-spacing: 2px;

color: $txtWhite;
  @media screen and(max-width: map-get($breakpoints, tablet)) {
      min-height: 102px;

  }

}