.header{
 @media screen and(max-width: map-get($breakpoints, tablet)) {
     height: 110px;
    //  overflow-x: hidden;

    
 }
  @media screen and(max-width: map-get($breakpoints, mobile)) {
     height: 90px;
     
 }
}
.header-container{
    display: flex;
justify-content: space-between;
align-items: center;
height: 150px;

@media screen and(max-width: map-get($breakpoints, laptop )){
   height: 130px; 

}
 @media screen and(max-width: map-get($breakpoints, tablet)) {
    height: 110px;
    // position: fixed;
    background-color: $bgBlack;
    z-index: 1000;
}   
 @media screen and(max-width: map-get($breakpoints, mobile)) {
     height: 90px;
     
 }

}
.header__logo{
width: 199px;
height: 33px;

 @media screen and(max-width: map-get($breakpoints, laptop)) {
    width: 195px;
 }
@media screen and(max-width: map-get($breakpoints, tablet)) {
    width: 199px;
    line-height: 1.78;
}
@media screen and(max-width: map-get($breakpoints, mobile)) {
    width: 131px;
    height: 20px;
}

}


.header__logo-img{
     width:49px;
height:26px;
// @media screen and(max-width: map-get($breakpoints, tablet)){
//     margin-right: 10px;
// }
@media screen and(max-width: map-get($breakpoints, mobile)) {
    margin-right: 20px;
width:29px;
     height:16px;
}
}
.header__logo-txt{
    position: relative;
    top: 3px;
}


.nav{
    min-width: 775px;
@media screen and (max-width: map-get($breakpoints, laptop)) {
    position: absolute;
    top: 130px;
    left: -300px;
    max-width: 297px;

    height: 500px;
    padding: 35px 55px;
    background-color: $bgBlack;
       
    z-index: 1000;
    opacity: 0;
    transition: left 500ms $transition-duration,
    opacity 300ms $transition-duration;
    &.is-open{
        left:0px;
        opacity: 1;
       
        
    }
}


@media screen and(max-width: map-get($breakpoints, tablet)) {
    top: 110px;
left: -100%;
    max-width: 100vw;
    height: auto;
    
}
@media screen and(max-width: map-get($breakpoints, mobile)) {
    top: 90px;
}
}
.nav__img-set{
    position: relative;
    margin-top: 35px;
    display: none;
   @media screen and(max-width: map-get($breakpoints, tablet)) {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
    //  grid-template-rows: repeat(2, 1fr);
     place-items: center;
     column-gap: 20px;
     grid-template-areas: 
     "A A"
     "B C";


     &::after{
         content: "";
         display: inline-block;
         position: absolute;
         bottom: -35px;
         width: 100%;
         height: 1px;
         background-color: rgba(255, 255, 255, 0.5);
     }
     }  
     @media screen and(max-width: map-get($breakpoints, mobile)){
grid-template-columns: repeat(3, 1fr);
 column-gap: 12px;
        grid-template-areas:
 "B A C";
 height: 95px;

 &::after{
     bottom: -20px;
 }

     }
    }

    .nav__img{
    width: 100%;
    height: 100%;
    }
.nav__img1{
grid-area: A;
margin-bottom: 20px;
 @media screen and(max-width: map-get($breakpoints, mobile)) {
     margin-bottom: 0;
     }
}
.nav__img2{
grid-area: B;
}
.nav__img3{
grid-area: C;
}

.header__social-list{
    display: none;
       @media screen and(max-width: map-get($breakpoints, tablet)) {
           display: flex;
           margin: 70px auto 0 auto;
           max-width: 340px;
       }
       @media screen and(max-width: map-get($breakpoints, mobile)){
           margin-top: 40px;
           max-width: 260px;
       }
    
}



.nav__list{
    display: flex; 
   align-items: center;

   color: $txtWhite;
  
font-weight: 100;
font-size: 22px;
line-height: 1.18;
letter-spacing: 2px;

@media  screen and (max-width: map-get($breakpoints, laptop)) {
  flex-direction: column;
  align-items: start;

  font-size: 20px;
line-height: 1.15;

}


}

.nav__item:not(:last-child){
    @media screen and (min-width: map-get($breakpoints, laptop )+1px) {
        margin-right: 55px;
    }
    @media screen  and(max-width: map-get($breakpoints, laptop)){
margin-bottom: 25px;
    }
        
    

}
.nav__link{
   padding: 20px 0;
    transition: color 300ms linear;

    &:hover,
    &:focus{
        color: $txtGold;
    }
    &:active{
        color: $txtGoldDark;
    }
    @media screen and(max-width: map-get($breakpoints, laptop )){
          padding: 0;
        width: 122px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
   &::after {
    content: "";
    display: inline-block;
    width: 7.5px;
    height: 12px;
    background-image: url(../assets/svg/menu-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
}
}
.menu-btn-switch{
    display: none;
    @media screen and (max-width: map-get($breakpoints, laptop)) {
      display: flex;
    justify-content: center;
    align-items: center;    
    background-color: transparent;
    padding: 0;
    border: none;
    width: 32px;
    height: 25px;
   cursor: pointer;
    }
   
}
.menu-btn-switch-svg{
width: 32px;
height: 25px;

}
.burger-icon{
display: none;
width: 32px;
height: 18px;
}
.burger-icon.active{
    display: block;
}

.cross-icon{
    width: 25px;
height: 25px;
    display: none;

}
.cross-icon.active{
    display: block;
}