.tickets__flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1 1;
    column-gap: 60px;

      @media screen and(max-width: map-get($breakpoints, desktop) - 20) {
     justify-content: center;
     column-gap: 80px;

  }
  @media screen and(max-width: map-get($breakpoints, laptop)) {
    justify-content: flex-start;
    

}
    @media screen and(max-width: map-get($breakpoints, tablet)) {
      justify-content: flex-start;
      column-gap: 60px;

  }
    @media screen and(max-width: map-get($breakpoints, mobile)) {
      flex-direction: column;
      row-gap: 40px;
      align-items: center;

  }
}
.tickets-img > img{
    flex: 1 1 100%;
    margin: 0;
//     max-width: 720px;
//     @media screen and(max-width: map-get($breakpoints, desktop)-20) {
// max-width: 700px;

//     }
}
.ticket-type__column{
    display: flex;
    flex-direction: column;
    // padding-top: 5px;
  
}
.ticket-type__column:nth-child(1){
    @media screen and(max-width: map-get($breakpoints, desktop) - 20) {
    display: none;

}  
}
.ticket-type__column:nth-child(2){
 align-items: flex-end;
     @media screen and(max-width: map-get($breakpoints, desktop) - 20) {
    align-items: flex-start;
    }
}

.tickets__headline{
    
font-weight: 700;
font-size: 28px;
 line-height: 1.18;
 color: $txtBlack;


    @media screen and(max-width: map-get($breakpoints, mobile)) {
       align-self: center;
font-size: 16px;
line-height: 1.19;
    }

}


.tickets__btn{
width: 175px;
height: 50px;

font-weight: 300;
font-size: 22px;
line-height: 1.18px;
letter-spacing: 2px;

display: flex;
justify-content: center;
align-items: center;

background-color: $bgBtnBlack;
color: $txtWhite;
border: none;
border-radius: 2px;
cursor: pointer;
transition: background-color 250ms linear,
color 250ms linear;
&:hover,
&:focus{
    color: $txtBlack;
  background-color: $bgBtnGold;

}
// @media screen and(max-width: map-get($breakpoints, desktop)-20) {
//   align-self: flex-end;
// }
}

.radio__container{
    
    display: block;
    position: relative;
    line-height: 26px;
    font-size: 22px;
    
    color: $txtBlack;
    margin-left: 40px;
    
    cursor: pointer;
    user-select: none;
}
.radio__container:not(:last-child){
    margin-bottom: 25px;
}
.radio__input{
      position: absolute;
    left: -40px;
    top: 4px;
  opacity: 0;
  width: 17px;
  height: 17px;
}

.checkmark {
    position: absolute;
    top: 4px;
    left: -40px;
    height: 17px;
    width: 17px;
    z-index: 2;
    border-radius: 50%;
    transition: background-color $transition-time $transition-duration;
}
.radio__container:hover .checkmark {
    background-color: $bgBtnGold;
    
}
.radio__input:checked + .checkmark::before {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    
    background-image: url(../assets/svg/input-circle-checked.svg);
background-size: contain;

}

.num__container{
display: flex;
flex-direction: column;
align-items: flex-start;
}
.num__container--margin-t {
    margin-top: 25px;
 @media screen and(max-width: map-get($breakpoints, tablet)) {
    margin-top: 39px;

}
    @media screen and(max-width: map-get($breakpoints, mobile)) {
        margin-top: 20px;

    }
   
}

.num__container2 {
    margin-top: 15px;

    @media screen and(max-width: map-get($breakpoints, laptop)) {
        margin-top: 29px;
    }
    @media screen and(max-width: map-get($breakpoints, tablet)) {
    margin-top: 25px;
}

    @media screen and(max-width: map-get($breakpoints, mobile)) {
        margin-top: 20px;

    }
}
.num__age{
   font-size: 22px;
 @media screen and(max-width: map-get($breakpoints, mobile)) {
      font-size: 16px;
line-height: 1.19;
 }
 
}
.num__count{
    margin-top: 15px;
    padding: 0;
    padding: 0 5px;
    width: 150px;
    height: 50px;

display: flex;
justify-content: space-between;
align-items: center;
border: solid 1px $bgBlack;

@media screen and(max-width: map-get($breakpoints, desktop)-20) {
   width: 175px;
   margin-top: 10px;
}
@media screen and(max-width: map-get($breakpoints, mobile)) {
    width: 175px;
    margin-top: 10px;
}
}
.num__btn{
display: flex;
justify-content: center;
align-items: center;
height: 40px;
padding: 15px 10px;
    
font-weight: 400;
font-size: 32px;
line-height: 1.16;

    border: none;
    background-color: $bgWhite;
    cursor: pointer;
}

.num__input{
font-size: 22px;
text-align: center;
    border: none;
    padding: 0;
}

.total{
letter-spacing: 1.65px;
   margin-top: 47px;

          @media screen and(max-width: map-get($breakpoints, laptop)) {
                margin-top: 25px;
          }
          @media screen and(max-width: map-get($breakpoints, tablet)) {
    margin-top: 39px;
}
}
.total__prise{
       @media screen and(max-width: map-get($breakpoints, laptop)) {
margin-left: 5px;

       } 
}
.radio__container--margin-t{
margin-top: 50px;
}

.tickets__btn--margin-t{
    margin-top: 60px;
    @media screen and(max-width: map-get($breakpoints, desktop)-20) {
   margin-top: 69px;
   
}
 @media screen and(max-width: map-get($breakpoints, tablet)) {
     margin-top: 40px;

 }
 @media screen and(max-width: map-get($breakpoints, mobile)) {
     margin-top: 40px;

 }
}
// .number {
//     all: unset;
//     width: 3em;
//     text-align: center;
// }