.visiting__section{
     @media screen and(max-width: map-get($breakpoints, tablet)) {
    padding-bottom: 80px;
     }

}
.visiting__list{
    display: flex;
    justify-content: center;
    // align-items: start;
    
    flex-wrap: wrap;
    row-gap:75px; 
column-gap: 60px;
// overflow-x: hidden;
  @media screen and(max-width: map-get($breakpoints, laptop)) {
     row-gap:60px;
     column-gap: 108px;  
     padding: 0 108px;  
}
  @media screen and(max-width: map-get($breakpoints, tablet)) {
      row-gap: 38px;
      column-gap: 56px;
      padding: 0 56px;
  }
  @media screen and(max-width: 550px) {
    row-gap: 20px;
    column-gap: 30px;
}
@media screen and(max-width: map-get($breakpoints, mobile)) {
    padding: 0 50px;
   row-gap: 40px;
}
@media screen and(max-width: 390px) {
    padding: 0;
}
}
.visiting__item{
 width: calc(33.3% - 40px);

 @media screen and(max-width: map-get($breakpoints, laptop)) {
    width: calc(50% - 54px);
    // max-width: 330px;
    
 }
  @media screen and(max-width: map-get($breakpoints, tablet)) {
     width: calc(50% - 28px);
    //  min-height: 301px;
    //  max-width: 280px;

 }
   @media screen and(max-width: 550px) {
     width: calc(50% - 15px);
    
  }
   @media screen and(max-width: map-get($breakpoints, mobile)) {
     width: 100%;

 }

}

.visiting__img{
  @media screen and(max-width: map-get($breakpoints, tablet)) {
    max-height: 180px;
}  
}


.card__name{
    font-family: Forum;
font-weight:400;
font-size: 32px;
line-height: 1.09;
letter-spacing: 5px;
text-transform: uppercase;

margin-top: 25px;
margin-bottom: 22px;


@media screen and(max-width: map-get($breakpoints, desktop)-1){
font-size: 28px;
line-height: 1.11;
letter-spacing: 3px;
}

@media screen and(max-width: map-get($breakpoints, tablet)) {
font-size: 22px;
line-height: 1.09;
}
@media screen and(max-width: map-get($breakpoints, mobile)) {
    font-size: 18px;
line-height: 1.11;
letter-spacing: 5px;
}



&::after{
    display: block;
content: "";
position: relative;
bottom: -12px;
left: 0;
width: 299px;
height: 3px;
background-color: $bgBtnRed;
transition: width $transition-time $transition-duration;

@media screen and(max-width: map-get($breakpoints, desktop)){
    width: 150px;
    height: 2px;
    bottom: -10px;
}
}
}
.card:focus .card__name:after,
.card:hover .card__name:after{
width: 100%;

}
.card__txt1,
.card__txt2{
font-weight: 200; 

}
.card__txt1{
font-size: 22px;

@media screen and(max-width: map-get($breakpoints, laptop)){
 font-size: 20px;
line-height: 1.15;  
}

@media screen and(max-width: map-get($breakpoints, tablet)) {
font-size: 18px;
line-height: 1.17;
}
@media screen and(max-width: map-get($breakpoints, mobile)) {
    font-size: 16px;
line-height: 1.19;
}

}
.card__txt2{
margin-top: 10px;
font-size: 18px;
line-height: 1.17;

@media screen and(max-width: map-get($breakpoints, laptop)) {
font-size: 16px;
line-height: 1.19;
}
@media screen and(max-width: map-get($breakpoints, tablet)) {
    
line-height: 1.18;
}

}