.explore__flex-box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: start;
    column-gap: 60px;
    // min-height: 700px;
    @media screen and(max-width: map-get($breakpoints, desktop)-1){

flex-wrap: wrap;
    }

}
.explore__column-txt{
flex: 1 1 100%;
min-width: 484px;
@media screen and(max-width: map-get($breakpoints, tablet)) {
    min-width: 100%;

}
}
.explore__column-img{
    
    margin-top: 15px;
    flex: 1 1 100%;
    // max-width: 720px;
    position: relative;
  max-width: 720px;
    @media screen and(max-width:  map-get($breakpoints,desktop )-1){
        margin: 0 auto 0 auto;
        display: flex;
    justify-content: center;
    
    }

       @media screen and(max-width: map-get($breakpoints, tablet)) {
      margin-top: 40px;

   }

}




.explore__txt-box{
    font-size: 22px;
line-height: 1.73;
 max-width: 650px;  
 @media screen and(max-width: map-get($breakpoints, desktop)) { 
     font-size: 20px;
line-height: 1.9;
     max-width: 100% ;
     padding-bottom: 57px;
 }
 @media screen and(max-width: map-get($breakpoints, laptop)-100){
display: none;

 }
}
.explore__txt{

&:not(:last-child){
    margin-bottom: 27px;

      @media screen and(max-width: map-get($breakpoints, laptop)) { 
    margin-bottom: 0;
}

}
&:last-child{
   @media screen and(max-width: 1303px){
       display: none;
      
   }
}
}

.explore__txt--gold-color{
color: #CAAA7D;
}
.explore__img{
max-width: 720px;
 @media screen and(max-width: map-get($breakpoints, tablet)) {
max-width: 100%;
 }
}
// .explore-slider-dash{
//     display: none;
//      @media screen and(min-width:769px){
//          display: block;
//     position: relative;
//      right: 264px;
//     display: block;
//     width: 39px;
//     height: 700px;
//    fill: #fff;
//    z-index: 2;
//      }
// }
// .explore__column-img::after{
  
//      content: "";
//     width: 100%;

//     height: 100%;
//     display: block;
//     background-image: url(../assets/img/explore/after.jpg);
// background-repeat: no-repeat;
// background-size: contain;
// background-position: center;

// // position:absolute;
// // z-index: 1;
 
   
// }