.gallery__view-box{
    position: relative;
    max-height: 1960px;
    overflow-y: hidden;

         @media screen and(max-width: map-get($breakpoints, laptop)) {
      max-height: 1265px;
      
        }
         @media screen and(max-width: map-get($breakpoints, tablet)) {
     max-height: 1080px;

 }
      @media screen and(max-width: map-get($breakpoints, mobile)) {
         max-height: 637px;

     }

}
.gallery__gradient{
   position: absolute;
   bottom: 0; 
   height: 100%;
   width: 100%;
    z-index: 1;
   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(2, 1, 1, 1.0));
}


.gallery__container{
columns: 3;
gap: 36px;
     @media screen and(max-width: map-get($breakpoints, tablet)) {
columns: 2;
gap: 24px;
     }
}
.gallery__container > *{
    margin-bottom: 24px;
}


// .gallery__item:nth-child(3n+1) {
//     order: 1;
// }

// .gallery__item:nth-child(3n+2) {
//     order: 2;
// }

// .gallery__item:nth-child(3n) {
//     order: 3;
// }
 .gallery__item:nth-child(1)
//  .gallery__item:nth-child(11)
 {
      margin-top: 50px;

  }

.gallery__img{
    width: 100%;
    max-width: 456px;

@media screen and(max-width: map-get($breakpoints, desktop) -1px) {
    max-width: 304px;
}
}

