html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.18;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 20px;
  height: auto;
  margin: 0 auto;
}

@media screen and (min-width: 1480px) {
  .container {
    max-width: 1440px;
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 420px) {
  .container {
    max-width: 420px;
  }
}

.section {
  background-color: #fff;
  padding: 75px 0;
}

@media screen and (max-width: 1024px) {
  .section {
    padding: 60px 0;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 40px 0;
  }
}

.section-dark {
  background-color: #030303;
  color: #FFF;
}

.section-dark--padding-t {
  padding-top: 75px;
}

@media screen and (max-width: 1024px) {
  .section-dark--padding-t {
    padding-top: 60px;
  }
}

@media screen and (max-width: 768px) {
  .section-dark--padding-t {
    padding-top: 40px;
  }
}

.section-title {
  font-family: Forum;
  font-weight: 400;
  font-size: 80px;
  line-height: 1.12;
  letter-spacing: 5px;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .section-title {
    font-size: 50px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 40px;
  }
}

@media screen and (max-width: 420px) {
  .section-title {
    font-size: 28px;
    line-height: 1.43;
  }
}

.section-title--white-bg {
  color: #9d8665;
}

.section-title--underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 25px;
  background-color: #710707;
  border-radius: 2px;
}

@media screen and (max-width: 1024px) {
  .section-title--underline::after {
    margin-top: 20px;
  }
}

.section-title--margin-b {
  margin-top: 75px;
}

@media screen and (max-width: 1024px) {
  .section-title--margin-b {
    margin-top: 60px;
  }
}

@media screen and (max-width: 768px) {
  .section-title--margin-b {
    margin-top: 40px;
  }
}

.panorama-box {
  width: 100vw;
  height: 100vh;
}

.panorama {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__txt {
  font-family: "Forum", cursive;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.11;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFF;
}

@media screen and (max-width: 420px) {
  .logo__txt {
    font-size: 16px;
    line-height: 1.12;
  }
}

.social-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.social-item {
  width: 48px;
  height: 48px;
}

.social-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #666666;
  border-radius: 50%;
  -webkit-transition: border 250ms linear;
  transition: border 250ms linear;
}

.social-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #9d8665;
}

@media screen and (max-width: 768px) {
  .header {
    height: 110px;
  }
}

@media screen and (max-width: 420px) {
  .header {
    height: 90px;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

@media screen and (max-width: 1024px) {
  .header-container {
    height: 130px;
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    height: 110px;
    background-color: #030303;
    z-index: 1000;
  }
}

@media screen and (max-width: 420px) {
  .header-container {
    height: 90px;
  }
}

.header__logo {
  width: 199px;
  height: 33px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    width: 195px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 199px;
    line-height: 1.78;
  }
}

@media screen and (max-width: 420px) {
  .header__logo {
    width: 131px;
    height: 20px;
  }
}

.header__logo-img {
  width: 49px;
  height: 26px;
}

@media screen and (max-width: 420px) {
  .header__logo-img {
    margin-right: 20px;
    width: 29px;
    height: 16px;
  }
}

.header__logo-txt {
  position: relative;
  top: 3px;
}

.nav {
  max-width: 775px;
}

@media screen and (max-width: 1024px) {
  .nav {
    position: absolute;
    top: 130px;
    left: -300px;
    max-width: 297px;
    height: 500px;
    padding: 35px 55px;
    background-color: #030303;
    z-index: 1000;
    opacity: 0;
    -webkit-transition: left 500ms linear, opacity 300ms linear;
    transition: left 500ms linear, opacity 300ms linear;
  }
  .nav.is-open {
    left: 0px;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    top: 110px;
    left: -100%;
    max-width: 100vw;
    height: auto;
  }
}

@media screen and (max-width: 420px) {
  .nav {
    top: 90px;
  }
}

.nav__img-set {
  position: relative;
  margin-top: 35px;
  display: none;
}

@media screen and (max-width: 768px) {
  .nav__img-set {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    place-items: center;
    -webkit-column-gap: 20px;
            column-gap: 20px;
        grid-template-areas: "A A" "B C";
  }
  .nav__img-set::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -35px;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

@media screen and (max-width: 420px) {
  .nav__img-set {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 12px;
            column-gap: 12px;
        grid-template-areas: "B A C";
    height: 95px;
  }
  .nav__img-set::after {
    bottom: -20px;
  }
}

.nav__img {
  width: 100%;
  height: 100%;
}

.nav__img1 {
  grid-area: A;
  margin-bottom: 20px;
}

@media screen and (max-width: 420px) {
  .nav__img1 {
    margin-bottom: 0;
  }
}

.nav__img2 {
  grid-area: B;
}

.nav__img3 {
  grid-area: C;
}

.header__social-list {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 70px auto 0 auto;
    max-width: 340px;
  }
}

@media screen and (max-width: 420px) {
  .header__social-list {
    margin-top: 40px;
    max-width: 260px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  font-weight: 100;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 2px;
}

@media screen and (max-width: 1024px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    font-size: 20px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1025px) {
  .nav__item:not(:last-child) {
    margin-right: 55px;
  }
}

@media screen and (max-width: 1024px) {
  .nav__item:not(:last-child) {
    margin-bottom: 25px;
  }
}

.nav__link {
  padding: 20px 0;
  -webkit-transition: color 300ms linear;
  transition: color 300ms linear;
}

.nav__link:hover, .nav__link:focus {
  color: #9d8665;
}

.nav__link:active {
  color: #7E6C51;
}

@media screen and (max-width: 1024px) {
  .nav__link {
    padding: 0;
    width: 122px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__link::after {
    content: "";
    display: inline-block;
    width: 7.5px;
    height: 12px;
    background-image: url(../assets/svg/menu-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.menu-btn-switch {
  display: none;
}

@media screen and (max-width: 1024px) {
  .menu-btn-switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    padding: 0;
    border: none;
    width: 32px;
    height: 25px;
    cursor: pointer;
  }
}

.menu-btn-switch-svg {
  width: 32px;
  height: 25px;
}

.burger-icon {
  display: none;
  width: 32px;
  height: 18px;
}

.burger-icon.active {
  display: block;
}

.cross-icon {
  width: 25px;
  height: 25px;
  display: none;
}

.cross-icon.active {
  display: block;
}

.welcome__section {
  min-height: 810px;
}

@media screen and (max-width: 1024px) {
  .welcome__section {
    min-height: 585px;
  }
}

@media screen and (max-width: 768px) {
  .welcome__section {
    min-height: 100%;
  }
}

@media screen and (max-width: 420px) {
  .welcome__section {
    padding-top: 5px;
  }
}

.welcome__flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 768px) {
  .welcome__flex-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.welcome__txt-box {
  padding-top: 150px;
  position: relative;
  z-index: 2;
  height: 100%;
  min-height: 750px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(73%, #070707), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(90deg, #070707 73%, rgba(0, 0, 0, 0));
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .welcome__txt-box {
    padding-top: 55px;
    min-height: 585px;
    opacity: 1;
    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
  }
  .welcome__txt-box.menu-open {
    opacity: 0;
  }
}

@media screen and (max-width: 850px) {
  .welcome__txt-box {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(45%, #070707), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(90deg, #070707 45%, rgba(0, 0, 0, 0));
  }
}

@media screen and (max-width: 768px) {
  .welcome__txt-box {
    padding-top: 0;
    min-height: auto;
  }
}

.section-title--welcome {
  font-family: Forum;
  font-weight: 400;
  font-size: 80px;
  line-height: 1.12;
  letter-spacing: 5px;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .section-title--welcome {
    text-align: left;
    font-size: 50px;
    line-height: 1.8;
  }
}

@media screen and (max-width: 768px) {
  .section-title--welcome {
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .section-title--welcome {
    font-size: 28px;
    line-height: 1.43;
  }
}

.welcome__txt {
  margin-top: 28px;
  font-size: 28px;
  letter-spacing: 2px;
}

@media screen and (max-width: 1024px) {
  .welcome__txt {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 768px) {
  .welcome__txt {
    margin-top: 25px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .welcome__txt {
    font-size: 16px;
    line-height: 1.19;
  }
}

.welcome__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  letter-spacing: 2px;
  margin-top: 75px;
  font-style: normal;
  width: 360px;
  height: 75px;
  border: none;
  border-radius: 10px;
  color: #FFF;
  background-color: #710707;
  -webkit-transition: background-color 250ms linear, -webkit-transform 250ms linear;
  transition: background-color 250ms linear, -webkit-transform 250ms linear;
  transition: background-color 250ms linear, transform 250ms linear;
  transition: background-color 250ms linear, transform 250ms linear, -webkit-transform 250ms linear;
  cursor: pointer;
}

.welcome__btn:hover, .welcome__btn:focus {
  background-color: #9D8665;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

@media screen and (max-width: 1024px) {
  .welcome__btn {
    margin-top: 50px;
    width: 300px;
    height: 60px;
    font-size: 20px;
    line-height: 1.15;
  }
}

@media screen and (max-width: 768px) {
  .welcome__btn {
    display: none;
  }
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #710707;
  z-index: 9;
  opacity: 1;
  -webkit-transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__window {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.modal__backdrop.is-hidden .modal__window {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.modal__close-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 50%;
  border: solid 1px #000;
  border-radius: 50%;
  background-color: #710707;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

.modal__close-btn:hover, .modal__close-btn:focus {
  opacity: 1;
}

.welcome__slider-wraper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 1000px;
  min-height: 740px;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .welcome__slider-wraper {
    max-width: 700px;
    min-height: 465px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .welcome__slider-wraper {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
    padding-right: 0;
    max-width: 728px;
    min-height: 100%;
  }
}

.welcome__slider {
  width: 100%;
}

.welcome__slide {
  display: none;
}

.welcome__slide.active {
  display: block;
  width: 100%;
  height: 100%;
}

.navigation-set-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -60px;
  right: 0;
  width: 100%;
  max-width: 600px;
  min-height: 120px;
  padding: 0 73px;
  background-color: #030303;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .navigation-set-wraper {
    max-width: 700px;
    padding: 0 95px 0 75px;
    bottom: -75px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-column-gap: 45px;
            column-gap: 45px;
  }
}

@media screen and (max-width: 768px) {
  .navigation-set-wraper {
    min-height: 100px;
    position: static;
    max-width: 100%;
    padding: 0 163px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 718px) {
  .navigation-set-wraper {
    min-height: 80px;
    padding: 0 75px;
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
}

.navigation-num__box {
  width: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .navigation-num__box {
    width: 71px;
  }
}

@media screen and (max-width: 420px) {
  .navigation-num__box {
    width: 50px;
  }
}

.navigation-num,
.dash,
.navigation-num2 {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.82;
}

@media screen and (max-width: 1024px) {
  .navigation-num,
  .dash,
  .navigation-num2 {
    font-size: 20px;
    line-height: 2;
  }
}

@media screen and (max-width: 758px) {
  .navigation-num,
  .dash,
  .navigation-num2 {
    font-size: 16px;
    line-height: 2.5;
  }
}

.dot-set {
  max-width: 180px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .dot-set {
    max-width: 160px;
  }
}

@media screen and (max-width: 420px) {
  .dot-set {
    max-width: 75px;
  }
}

.dot {
  width: 16px;
  height: 16px;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

@media screen and (max-width: 1024px) {
  .dot {
    width: 12px;
    height: 12px;
  }
}

@media screen and (max-width: 568px) {
  .dot {
    width: 7px;
    height: 7px;
  }
}

.dot.active,
.dot:hover {
  background-color: #D2B183;
}

.btn-set {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  max-width: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .btn-set {
    max-width: 80px;
  }
}

@media screen and (max-width: 668px) {
  .btn-set {
    max-width: 55px;
  }
}

.btn-prev,
.btn-next {
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.btn-arrow-icon {
  width: 30px;
  height: 8px;
  fill: white;
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

@media screen and (max-width: 668px) {
  .btn-arrow-icon {
    width: 20px;
  }
}

.btn-prev:hover .btn-arrow-icon,
.btn-next:hover .btn-arrow-icon,
.btn-prev:focus .btn-arrow-icon,
.btn-next:focus .btn-arrow-icon {
  fill: #9D8665;
}

@media screen and (max-width: 768px) {
  .visiting__section {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 420px) {
  .visiting__section {
    padding-bottom: 40px;
  }
}

.visiting__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 75px;
  -webkit-column-gap: 60px;
          column-gap: 60px;
}

@media screen and (max-width: 1024px) {
  .visiting__list {
    row-gap: 60px;
    -webkit-column-gap: 108px;
            column-gap: 108px;
    padding: 0 108px;
  }
}

@media screen and (max-width: 768px) {
  .visiting__list {
    row-gap: 38px;
    -webkit-column-gap: 56px;
            column-gap: 56px;
    padding: 0 56px;
  }
}

@media screen and (max-width: 550px) {
  .visiting__list {
    row-gap: 20px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

@media screen and (max-width: 420px) {
  .visiting__list {
    padding: 0 50px;
    row-gap: 38px;
  }
}

@media screen and (max-width: 390px) {
  .visiting__list {
    padding: 0;
  }
}

.visiting__item {
  width: calc(33.3% - 40px);
}

@media screen and (max-width: 1024px) {
  .visiting__item {
    width: calc(50% - 54px);
  }
}

@media screen and (max-width: 768px) {
  .visiting__item {
    width: calc(50% - 28px);
  }
}

@media screen and (max-width: 550px) {
  .visiting__item {
    width: calc(50% - 15px);
  }
}

@media screen and (max-width: 420px) {
  .visiting__item {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .visiting__img {
    max-height: 180px;
  }
}

.card__name {
  font-family: Forum;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.09;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 22px;
}

@media screen and (max-width: 1439px) {
  .card__name {
    font-size: 28px;
    line-height: 1.11;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 768px) {
  .card__name {
    font-size: 22px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 420px) {
  .card__name {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: 5px;
  }
}

.card__name::after {
  display: block;
  content: "";
  position: relative;
  bottom: -12px;
  left: 0;
  width: 299px;
  height: 3px;
  background-color: #710707;
  -webkit-transition: width 250ms linear;
  transition: width 250ms linear;
}

@media screen and (max-width: 1440px) {
  .card__name::after {
    width: 150px;
    height: 2px;
    bottom: -10px;
  }
}

.card:focus .card__name:after,
.card:hover .card__name:after {
  width: 100%;
}

.card__txt1,
.card__txt2 {
  font-weight: 200;
}

.card__txt1 {
  font-size: 22px;
}

@media screen and (max-width: 1024px) {
  .card__txt1 {
    font-size: 20px;
    line-height: 1.15;
  }
}

@media screen and (max-width: 768px) {
  .card__txt1 {
    font-size: 18px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 420px) {
  .card__txt1 {
    font-size: 16px;
    line-height: 1.19;
  }
}

.card__txt2 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.17;
}

@media screen and (max-width: 1024px) {
  .card__txt2 {
    font-size: 16px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 768px) {
  .card__txt2 {
    line-height: 1.18;
  }
}

.explore__flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 60px;
          column-gap: 60px;
}

@media screen and (max-width: 1439px) {
  .explore__flex-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.explore__column-txt {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  min-width: 484px;
}

@media screen and (max-width: 768px) {
  .explore__column-txt {
    min-width: 100%;
  }
}

.explore__column-img {
  margin-top: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  position: relative;
  max-width: 720px;
}

@media screen and (max-width: 1439px) {
  .explore__column-img {
    margin: 0 auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .explore__column-img {
    margin-top: 40px;
  }
}

.explore__txt-box {
  font-size: 22px;
  line-height: 1.73;
  max-width: 650px;
}

@media screen and (max-width: 1440px) {
  .explore__txt-box {
    font-size: 20px;
    line-height: 1.9;
    max-width: 100%;
    padding-bottom: 57px;
  }
}

@media screen and (max-width: 924px) {
  .explore__txt-box {
    display: none;
  }
}

.explore__txt:not(:last-child) {
  margin-bottom: 27px;
}

@media screen and (max-width: 1024px) {
  .explore__txt:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1303px) {
  .explore__txt:last-child {
    display: none;
  }
}

.explore__txt--gold-color {
  color: #CAAA7D;
}

.explore__img {
  max-width: 720px;
}

@media screen and (max-width: 768px) {
  .explore__img {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .video__section {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 420px) {
  .video__section {
    padding-bottom: 40px;
    padding-top: 35px;
  }
}

.video__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__header-txt {
  max-width: 720px;
  font-size: 22px;
  line-height: 1.73;
}

@media screen and (max-width: 1439px) {
  .video__header-txt {
    display: none;
  }
}

.video__big-slide {
  position: relative;
  margin-top: 70px;
}

@media screen and (max-width: 1024px) {
  .video__big-slide {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .video__big-slide {
    margin-top: 20px;
  }
}

.template-play-video--btn {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  -webkit-transform: translate(-50%, -64%);
          transform: translate(-50%, -64%);
}

@media screen and (max-width: 1024px) {
  .template-play-video--btn {
    -webkit-transform: translate(-50%, -65%);
            transform: translate(-50%, -65%);
  }
}

@media screen and (max-width: 768px) {
  .template-play-video--btn {
    -webkit-transform: translate(-50%, -75%);
            transform: translate(-50%, -75%);
  }
}

@media screen and (max-width: 420px) {
  .template-play-video--btn {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
}

.template-play-video--icon {
  width: 220px;
  height: 220px;
  fill: #fff;
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.template-play-video--btn:hover .template-play-video--icon {
  fill: #919090;
}

@media screen and (max-width: 1439px) {
  .template-play-video--icon {
    width: 152px;
    height: 152px;
  }
}

@media screen and (max-width: 1023px) {
  .template-play-video--icon {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 420px) {
  .template-play-video--icon {
    width: 50px;
    height: 50px;
  }
}

.progress__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  padding: 0 30px;
  width: 100%;
  min-height: 85px;
  background-color: #030303;
}

@media screen and (max-width: 1439px) {
  .progress__box {
    min-height: 60px;
    padding: 0 40px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

@media screen and (max-width: 1023px) {
  .progress__box {
    padding: 0 30px;
    -webkit-column-gap: 35px;
            column-gap: 35px;
  }
}

@media screen and (max-width: 768px) {
  .progress__box {
    min-height: 53px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 420px) {
  .progress__box {
    margin-top: 4px;
    padding: 0 20px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

.progress__video,
.progress__voice {
  background-color: #C4C4C4;
  width: 100%;
  height: 8px;
  margin: 0;
  outline: none;
  -webkit-transition: background-image 450ms ease-in;
  transition: background-image 450ms ease-in;
  -webkit-appearance: none;
}

@media screen and (max-width: 1024px) {
  .progress__video,
  .progress__voice {
    height: 5px;
  }
}

@media screen and (max-width: 420px) {
  .progress__video,
  .progress__voice {
    height: 4px;
  }
}

.progress__video {
  max-width: 929px;
  background-image: -webkit-gradient(linear, left top, right top, from(#710707), color-stop(53%, #710707), color-stop(53%, #C4C4C4), to(#C4C4C4));
  background-image: linear-gradient(to right, #710707 0%, #710707 53%, #C4C4C4 53%, #C4C4C4 100%);
}

@media screen and (max-width: 1024px) {
  .progress__video {
    max-width: 564px;
  }
}

@media screen and (max-width: 768px) {
  .progress__video {
    position: absolute;
    top: -5px;
    left: 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .progress__video {
    top: -4px;
  }
}

.progress__voice {
  max-width: 155px;
  background-image: -webkit-gradient(linear, left top, right top, from(#710707), color-stop(40%, #710707), color-stop(40%, #C4C4C4), to(#C4C4C4));
  background-image: linear-gradient(to right, #710707 0%, #710707 40%, #C4C4C4 40%, #C4C4C4 100%);
}

@media screen and (max-width: 1024px) {
  .progress__voice {
    max-width: 143px;
  }
}

@media screen and (max-width: 768px) {
  .progress__voice {
    max-width: 486px;
  }
}

.progress__video::-webkit-slider-thumb,
.progress__voice::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
}

@media screen and (max-width: 1024px) {
  .progress__video::-webkit-slider-thumb,
  .progress__voice::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
  }
}

@media screen and (max-width: 768px) {
  .progress__video::-webkit-slider-thumb,
  .progress__voice::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }
}

.range__btn {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.range-icon--play {
  width: 23px;
  height: 31px;
}

@media screen and (max-width: 767px) {
  .range-icon--play {
    width: 14px;
    height: 18px;
  }
}

.range-icon--volume {
  width: 38px;
  height: 31px;
}

@media screen and (max-width: 1024px) {
  .range-icon--volume {
    width: 26px;
    height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .range-icon--volume {
    width: 18px;
    height: 14px;
  }
}

.range-icon--frame {
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 1024px) {
  .range-icon--frame {
    width: 26px;
    height: 26px;
  }
}

@media screen and (max-width: 767px) {
  .range-icon--frame {
    width: 18px;
    height: 18px;
  }
}

.video__slider {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 42px;
          column-gap: 42px;
  overflow: hidden;
}

@media screen and (max-width: 1439px) {
  .video__slider {
    -webkit-column-gap: 41px;
            column-gap: 41px;
  }
}

@media screen and (max-width: 1023px) {
  .video__slider {
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .video__slider {
    margin-top: 20px;
  }
}

@media screen and (max-width: 420px) {
  .video__slider {
    margin-top: 40px;
  }
}

.video__slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 452px;
  height: 254px;
}

@media screen and (max-width: 1439px) {
  .video__slide {
    max-width: 300px;
    height: 170px;
  }
}

@media screen and (max-width: 1023px) {
  .video__slide {
    max-width: 354px;
    height: 199px;
  }
}

@media screen and (max-width: 767px) {
  .video__slide {
    max-width: 180px;
    height: 101px;
  }
}

@media screen and (max-width: 1023px) {
  .slide3 {
    display: none;
  }
}

.video__slide iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.video__btns-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 12px;
}

@media screen and (max-width: 768px) {
  .video__btns-set {
    margin-top: 21px;
    width: 190px;
  }
}

@media screen and (max-width: 420px) {
  .video__btns-set {
    width: 174px;
    margin-top: 40px;
  }
}

.video__btn-dot-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  max-width: 140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .video__btn-dot-set {
    max-width: 135px;
  }
}

@media screen and (max-width: 420px) {
  .video__btn-dot-set {
    max-width: 120px;
  }
}

.video__btn-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #999999;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .video__btn-dot {
    width: 10px;
    height: 10px;
  }
}

@media screen and (max-width: 420px) {
  .video__btn-dot {
    width: 8px;
    height: 8px;
  }
}

.video__btn-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.video__btn-arrow-icon {
  width: 10px;
  height: 12px;
  fill: #999;
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

@media screen and (max-width: 767px) {
  .video__btn-arrow-icon {
    width: 7px;
    height: 8px;
  }
}

.video__btn-dot.active,
.video__btn-dot:hover,
.video__btn-dot:focus {
  background-color: #333333;
}

.video__btn-arrow:hover .video__btn-arrow-icon,
.video__btn-arrow:focus .video__btn-arrow-icon {
  fill: #333333;
}

.gallery__view-box {
  position: relative;
  max-height: 1960px;
  overflow-y: hidden;
}

@media screen and (max-width: 1024px) {
  .gallery__view-box {
    max-height: 1265px;
  }
}

@media screen and (max-width: 768px) {
  .gallery__view-box {
    max-height: 1080px;
  }
}

@media screen and (max-width: 420px) {
  .gallery__view-box {
    max-height: 637px;
  }
}

.gallery__gradient {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, rgba(0, 0, 0, 0)), to(#020101));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, #020101);
}

.gallery__container {
  -webkit-columns: 3;
          columns: 3;
  gap: 36px;
}

@media screen and (max-width: 768px) {
  .gallery__container {
    -webkit-columns: 2;
            columns: 2;
    gap: 24px;
  }
}

.gallery__container > * {
  margin-bottom: 24px;
}

.gallery__item:nth-child(1) {
  margin-top: 50px;
}

.gallery__img {
  width: 100%;
  max-width: 456px;
}

@media screen and (max-width: 1440px -1px) {
  .gallery__img {
    max-width: 304px;
  }
}

.tickets__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-column-gap: 60px;
          column-gap: 60px;
}

@media screen and (max-width: 1420px) {
  .tickets__flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 80px;
            column-gap: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .tickets__flex {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .tickets__flex {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-column-gap: 60px;
            column-gap: 60px;
  }
}

@media screen and (max-width: 420px) {
  .tickets__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.tickets-img > img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin: 0;
}

.ticket-type__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1420px) {
  .ticket-type__column:nth-child(1) {
    display: none;
  }
}

.ticket-type__column:nth-child(2) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 1420px) {
  .ticket-type__column:nth-child(2) {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.tickets__headline {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: #000;
}

@media screen and (max-width: 420px) {
  .tickets__headline {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 16px;
    line-height: 1.19;
  }
}

.tickets__btn {
  width: 175px;
  height: 50px;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.18px;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  color: #FFF;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: background-color 250ms linear, color 250ms linear;
  transition: background-color 250ms linear, color 250ms linear;
}

@media screen and (max-width: 420px) {
  .tickets__btn {
    font-size: 16px;
    line-height: 0px;
  }
}

.tickets__btn:hover, .tickets__btn:focus {
  color: #000;
  background-color: #9D8665;
}

.radio__container {
  display: block;
  position: relative;
  line-height: 26px;
  font-size: 22px;
  color: #000;
  margin-left: 40px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radio__container:not(:last-child) {
  margin-bottom: 25px;
}

.radio__input {
  position: absolute;
  left: -40px;
  top: 4px;
  opacity: 0;
  width: 17px;
  height: 17px;
}

.checkmark {
  position: absolute;
  top: 4px;
  left: -40px;
  height: 17px;
  width: 17px;
  z-index: 2;
  border-radius: 50%;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.radio__container:hover .checkmark {
  background-color: #9D8665;
}

.radio__input:checked + .checkmark::before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  background-image: url(../assets/svg/input-circle-checked.svg);
  background-size: contain;
}

.num__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.num__container--margin-t {
  margin-top: 25px;
}

@media screen and (max-width: 768px) {
  .num__container--margin-t {
    margin-top: 39px;
  }
}

@media screen and (max-width: 420px) {
  .num__container--margin-t {
    margin-top: 20px;
  }
}

.num__container2 {
  margin-top: 15px;
}

@media screen and (max-width: 1024px) {
  .num__container2 {
    margin-top: 29px;
  }
}

@media screen and (max-width: 768px) {
  .num__container2 {
    margin-top: 25px;
  }
}

@media screen and (max-width: 420px) {
  .num__container2 {
    margin-top: 20px;
  }
}

.num__age {
  font-size: 22px;
}

@media screen and (max-width: 420px) {
  .num__age {
    font-size: 16px;
    line-height: 1.19;
  }
}

.num__count {
  margin-top: 15px;
  padding: 0;
  padding: 0 5px;
  width: 150px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #030303;
}

@media screen and (max-width: 1420px) {
  .num__count {
    width: 175px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 420px) {
  .num__count {
    margin-top: 15px;
  }
}

.num__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 15px 10px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.16;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.num__input {
  font-size: 22px;
  text-align: center;
  border: none;
  padding: 0;
}

.total {
  letter-spacing: 1.65px;
  margin-top: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .total {
    margin-top: 25px;
  }
}

@media screen and (max-width: 768px) {
  .total {
    margin-top: 39px;
  }
}

@media screen and (max-width: 420px) {
  .total {
    max-width: 175px;
  }
}

@media screen and (max-width: 1024px) {
  .total__prise {
    margin-left: 5px;
  }
}

@media screen and (max-width: 1024px) and (max-width: 420px) {
  .total__prise {
    margin-left: 0;
  }
}

.radio__container--margin-t {
  margin-top: 50px;
}

.tickets__btn--margin-t {
  margin-top: 60px;
}

@media screen and (max-width: 1420px) {
  .tickets__btn--margin-t {
    margin-top: 69px;
  }
}

@media screen and (max-width: 768px) {
  .tickets__btn--margin-t {
    margin-top: 40px;
  }
}

@media screen and (max-width: 420px) {
  .tickets__btn--margin-t {
    margin-top: 40px;
  }
}

.parallax {
  background-image: url(../assets/img/parallax.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 768px) {
  .parallax {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .contacts__section {
    padding-bottom: 67px;
  }
}

@media screen and (max-width: 420px) {
  .contacts__section {
    padding-bottom: 40px;
  }
}

.contacts__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

@media screen and (max-width: 768px) {
  .contacts__flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.address {
  font-style: inherit;
}

@media screen and (max-width: 768px) {
  .address {
    margin-bottom: 40px;
  }
}

.address__name {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.18;
}

@media screen and (max-width: 1439px) {
  .address__name {
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (max-width: 1023px) {
  .address__name {
    font-size: 20px;
    line-height: 1.15;
  }
}

@media screen and (max-width: 420px) {
  .address__name {
    font-size: 16px;
    line-height: 1.19;
  }
}

.address__link--margin-t {
  margin-top: 50px;
}

@media screen and (max-width: 1439px) {
  .address__link--margin-t {
    margin-top: 35px;
  }
}

@media screen and (max-width: 768px) {
  .address__link--margin-t {
    margin-top: 40px;
  }
}

.address__link {
  display: block;
  font-size: 22px;
  line-height: 1.18;
}

@media screen and (max-width: 1439px) {
  .address__link {
    font-size: 20px;
    line-height: 1.15;
  }
}

@media screen and (max-width: 1023px) {
  .address__link {
    font-size: 18px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 420px) {
  .address__link {
    font-size: 16px;
    line-height: 1.19;
  }
}

.address__link:not(:last-child) {
  margin-bottom: 25px;
}

@media screen and (max-width: 1439px) {
  .address__link:not(:last-child) {
    margin-bottom: 15px;
  }
}

.footer {
  padding-top: 84px;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-top: 65px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 40px;
  }
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 50px;
}

@media screen and (max-width: 985px) {
  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 420px) {
  .footer__top {
    min-height: 250px;
  }
}

.footer__logo {
  width: 195px;
  margin-right: 145px;
}

@media screen and (max-width: 1024px) {
  .footer__logo {
    margin-right: 45px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 1150px) {
  .footer__logo {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .footer__logo {
    position: relative;
    top: 10px;
    margin-right: 99px;
  }
}

@media screen and (max-width: 420px) {
  .footer__logo {
    width: 131px;
    height: 16px;
    top: 0;
    margin-right: 0;
  }
}

.footer__logo-img {
  width: 49px;
  height: 26px;
}

@media screen and (max-width: 420px) {
  .footer__logo-img {
    width: 29px;
    height: 16px;
  }
}

.footer__nav {
  width: 100%;
  max-width: 367px;
  max-height: 128px;
}

@media screen and (max-width: 1024px) {
  .footer__nav {
    max-width: 313px;
  }
}

@media screen and (max-width: 768px) {
  .footer__nav {
    max-width: 340px;
    position: relative;
    top: 20px;
  }
}

@media screen and (max-width: 420px) {
  .footer__nav {
    max-width: 380px;
    position: relative;
    top: 15px;
  }
}

.footer__nav-list {
  -webkit-columns: 2;
          columns: 2;
  -webkit-column-gap: 150px;
          column-gap: 150px;
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 2px;
  color: #FFF;
}

@media screen and (max-width: 1390px) {
  .footer__nav-list {
    -webkit-column-gap: 100px;
            column-gap: 100px;
  }
}

@media screen and (max-width: 985px) {
  .footer__nav-list {
    -webkit-column-gap: 184px;
            column-gap: 184px;
    font-size: 18px;
    line-height: 21px;
  }
}

@media screen and (max-width: 420px) {
  .footer__nav-list {
    -webkit-columns: 3;
            columns: 3;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    width: 100%;
    margin-bottom: -30px;
  }
}

.footer__nav-item {
  margin-bottom: 25px;
}

@media screen and (max-width: 420px) {
  .footer__nav-item {
    margin-bottom: 30px;
  }
}

.footer__nav-link {
  -webkit-transition: color 300ms linear;
  transition: color 300ms linear;
}

.footer__nav-link:hover, .footer__nav-link:focus {
  color: #9d8665;
}

.footer__nav-link:active {
  color: #7E6C51;
}

.footer__social-list {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 340px;
}

@media screen and (max-width: 985px) {
  .footer__social-list {
    margin-top: 50px;
    margin-right: 90px;
  }
}

@media screen and (max-width: 420px) {
  .footer__social-list {
    margin: 0 auto;
    max-width: 260px;
  }
}

.social-link:hover,
.social-link:focus {
  border: solid 1px #9D8665;
}

.footer__underline {
  border-bottom: solid 3px #666666;
}

.footer-bottom {
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 200;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 2px;
  color: #FFF;
}

@media screen and (max-width: 768px) {
  .footer-bottom {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 420px) {
  .footer-bottom {
    font-size: 16px;
    line-height: 1.37;
  }
}

@media screen and (max-width: 420px) {
  .footer__nav-link2 {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
}
/*# sourceMappingURL=styles.css.map */