$mainFont: 'Roboto', sans-serif;
$headingFont: 'Forum', cursive;

$txtWhite: #FFF;
$txtBlack: #000;
$txtGold: #9d8665;
$txtGoldDark: #7E6C51;


$bgBlack:  #030303;
$bgWhite: #fff;


$bgBtnRed: #710707;
$bgBtnGold: #9D8665;
$bgBtnBlack: #000;

