.explore__flex-box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: start;
    column-gap: 60px;
    min-height: 700px;
}
.explore__column-txt{
flex: 1 1;

}
.explore__column-img{
    margin-top: 15px;
    flex: 0 0 720px;
    position: relative;
}
.explore__txt-box{
 max-width: 650px;   
}
.explore__txt{

font-size: 22px;
line-height: 1.73;
&:not(:last-child){
    margin-bottom: 27px;
}
}

.explore__txt--gold-color{
color: #CAAA7D;
}
.explore__img{
    position: relative;
     z-index: 2;
}
.explore-slider-dash{
    position: relative;
     right: 264px;
    display: block;
    width: 39px;
    height: 700px;
   fill: #fff;
   z-index: 2;
}
.explore__column-img::after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(../assets/img/explore/after.jpg);
background-repeat: no-repeat;
background-size: contain;
background-position: center;

position:absolute;
z-index: 1;


}