.gallery__view-box{
    position: relative;
    // z-index: 1;
    max-height: 1960px;
    overflow-y: hidden;
}
.gallery__gradient{
   position: absolute;
   bottom: 0; 
   height: 100%;
   width: 100%;
    z-index: 1;
   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(2, 1, 1, 1.0));;
}
.gallery__container{
max-height:2856px;

 display: flex;
 flex-flow: column wrap;
 align-content: space-between;

gap: 24px 36px;


}

.gallery__container::before,
.gallery__container::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
}
.gallery__item{
    // position: relative;
width: 100%;
max-width: 456px;
// height: auto;
 }
.gallery__item:nth-child(3n+1) {
    order: 1;
}

.gallery__item:nth-child(3n+2) {
    order: 2;
}

.gallery__item:nth-child(3n) {
    order: 3;
}

.item-1,
.item-3{
    height: 620px;
    display: flex;
    align-items: flex-end;
}


