.tickets__flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1 1;
    column-gap: 60px;
}
.form-buy-ticket{

}
.ticket-type__column{
    display: flex;
    flex-direction: column;
}


.tickets__headline{
    
font-weight: 700;
font-size: 28px;
 line-height: 1.18;
 color: $txtBlack;
}


.tickets__btn{
width: 175px;
height: 50px;

font-weight: 300;
font-size: 22px;
line-height: 1.18px;
letter-spacing: 2px;

display: flex;
justify-content: center;
align-items: center;

background-color: $bgBtnBlack;
color: $txtWhite;
border: none;
border-radius: 2px;
cursor: pointer;
transition: background-color 250ms linear,
color 250ms linear;
&:hover,
&:focus{
    color: $txtBlack;
  background-color: $bgBtnGold;

}
}

.radio__container{
    
    display: block;
    position: relative;
    line-height: 26px;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.18;
    color: $txtBlack;
    margin-left: 40px;
    
    cursor: pointer;
    user-select: none;
}
.radio__container:not(:last-child){
    margin-bottom: 25px;
}
.radio__input{
      position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
//   cursor: pointer;
}
// .radio__container::before{
//     content: "";
//     display: inline-block;
//     background-image: url(../assets/svg/input-circle.svg);
//     background-repeat: no-repeat;
//     background-size: contain;
//     height: 17px;
//     width: 17px;
//     // background-color: tomato;

// }


    .checkmark {
    position: absolute;
    top: 4px;
    left: -40px;
    height: 17px;
    width: 17px;
    // background-color: rgb(192, 88, 88);
    // border-radius: 50%;

}
.radio__container:hover .checkmark {
    background-color: $bgBtnGold;
    border-radius: 50%;
}
.radio__input:checked + .checkmark::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    background-image: url(../assets/svg/input-circle-checked.svg);


}

.num__container{
display: flex;
flex-direction: column;
align-items: flex-start;

// font-weight: 300;
// font-size: 22px;
// line-height: 1.18;
}

.num__container:not(:last-child){
margin-bottom: 10px;
}
.num__age{
   
font-weight: 300;
font-size: 22px;
line-height: 1.18;
}
.num__count{
    margin-top: 15px;
    padding: 0 14px;
    width: 150px;
    height: 50px;

display: flex;
justify-content: space-between;
align-items: center;

    border: solid 1px $bgBlack;
}
.num__btn{
    width: 19px;
    height: 38px;
padding: 0;
    
font-weight: 400;
font-size: 32px;
line-height: 1.16;

    border: none;
    background-color: $bgWhite;
}

.num__input{
    font-weight: 300;
font-size: 22px;
line-height: 1.18;
text-align: center;
    border: none;
    padding: 0;
    padding-left: 10px;

}


.radio__container--margin-t,
.total--margin-t{
margin-top: 50px;
}
.num__container--margin-t{
    margin-top: 25px;
}
.tickets__btn--margin-t{
    margin-top: 52px;
}
// .number {
//     all: unset;
//     width: 3em;
//     text-align: center;
// }