
    .video__header{
display: flex;
justify-content: space-between;
align-items: center;
       
    }
     .video__header-txt {
        max-width: 720px;
font-size: 22px;
line-height: 1.73;
    }

    .video__slider-box{
        width: 100%;
        min-height: 1081px;
       
    }
    .video__slider{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: 42px;
        row-gap: 40px;

    }
    .video__slide{
        width: 100%;
        max-width: 452px;
        min-height: 254px;
        
    }
    
    .video__slide.active{
        max-width: 1440px;
        min-height: 735px;
    }
   
    .relative{
        position: relative;
    }
    .template-play-video-btn{
        position: absolute;
        
        top: 215px;
        left: 605px;
        cursor: pointer;
      fill: $bgWhite;
      transition: fill $transition-time $transition-duration;
    }

.video__slide:hover.active .template-play-video-btn{
fill: rgb(145, 144, 144);
}

.progress__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    height: 85px;
    background-color: $bgBlack;
}
.btn-play{
    display: block;
    fill: #B3B3B3;
}
.progress__video,
.progress__voise {
    background-color: #C4C4C4;
    
    
    height: 8px;
    
    outline: none;
    transition: background-image 450ms ease-in;
    -webkit-appearance: none;
}
.progress__video{
 width: 929px;   
     background-image: linear-gradient(to right, #710707 0%, #710707 53%, #C4C4C4 53%, #C4C4C4 100%);
}
.progress__voise{
    width: 155px;
        background-image: linear-gradient(to right, #710707 0%, #710707 40%, #C4C4C4 40%, #C4C4C4 100%);
}




.progress__video::-webkit-slider-thumb,
.progress__voise::-webkit-slider-thumb
 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: $bgWhite;
}


.range-icon{
  
     cursor: pointer;
}


    .video__btns-set{
display: flex;
justify-content: space-between;
margin-top: 37px;
margin-left: auto;
margin-right: auto;
width: 100%;
max-width: 200px;
height: 12px;
// background-color: white;
    }
 .video__btn-dot-set{
     display: flex;
     flex: 1 0 100%;
     max-width: 140px;
     justify-content: space-between;
 }   
    .video__btn-dot{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #999999;
        transition:  background-color $transition-time $transition-duration;
   cursor: pointer;
    }
    .video__btn-arrow{
display: flex;
justify-content: center;
align-items: center;

        padding: 0;
        border: none;
        background-color: transparent;
    
cursor: pointer;
    }
    
.video__btn-arrow-icon{
    width: 10px;
    height: 12px;
    fill: #999;
            transition: fill $transition-time $transition-duration;
}

.video__btn-dot.active,
.video__btn-dot:hover,
.video__btn-dot:focus{
    background-color: #333333;
}
.video__btn-arrow:hover .video__btn-arrow-icon,
.video__btn-arrow:focus .video__btn-arrow-icon{
    fill: #333333;
}

