.visiting__list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap:75px; 
    column-gap: 60px;
}
.visiting__item{
width: 100%;
max-width: 440px;
}

.card__name{
    font-family: Forum;
font-weight:400;
font-size: 32px;
line-height: 1.09;
letter-spacing: 5px;
text-transform: uppercase;

margin-top: 25px;
margin-bottom: 22px;
&::after{
    display: block;
content: "";
position: relative;
bottom: -12px;
left: 0;
width: 299px;
height: 3px;
background-color: $bgBtnRed;
transition: width $transition-time $transition-duration;
}
}
.card:focus .card__name:after,
.card:hover .card__name:after{
width: 100%;

}
.card__txt1,
.card__txt2{
font-weight: 200;   
}
.card__txt1{
font-size: 22px;
}
.card__txt2{
margin-top: 10px;
font-size: 18px;
line-height: 1.17;
}