.welcome{    
    // padding-top: 150px;
    min-height: 810px;
    }
// .welcome__img-relative{
//    position: relative; 
// //    z-index: 10;
// }
// .welcome__bg-img{
// position: absolute;
// top: -150px;
// right: 0;
// // z-index: 9;
//     width: 1000px;
//     height: 750px;

//   background-image: url(../assets/img/welcome-slider/mona-liza-bg.jpg);
// background-repeat: no-repeat;
// background-size: contain;
//     // background-position: calc(100% - 20px) calc(100% - 10px);
// background-position: right top ;  
// }
.flex-container{
    display: flex;
    justify-content: space-between;
    // align-items: center;
    // align-items: stretch;
    position: relative;
}
.welcome__txt-box{
    padding-top: 150px;
    position: relative;
    z-index: 2;
    height: 100%;
    min-height: 750px;
    background-image: linear-gradient(90deg, #070707 73%, rgba(0, 0, 0, 0));
}
.welcome__txt{
margin-top: 28px;


font-weight: 300;
font-size: 28px;
line-height: 1.18;
letter-spacing: 2px;
}

.welcome__btn{
font-weight: 300;
font-size: 22px;
line-height: 1.18;
letter-spacing: 2px;

display: flex;
justify-content: center;
align-items: center;

margin-top: 75px;

width: 360px;
height: 75px;
border: none;
border-radius: 10px;
color: $txtWhite;
background-color: $bgBtnRed;
transition: background-color 250ms linear,
transform 250ms linear;

cursor: pointer;
&:hover,
&:focus{
    background-color: $bgBtnGold;
     transform: scale(1.05);
}
}

.modal__window{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: 10;
    
    padding: 40px;
    transform: translate(-50%, -50%);
    // transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    
    background-color: $bgBtnRed;
    z-index: 9;
    opacity: 1;
    transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__backdrop.is-hidden {
   
    opacity: 0;
    pointer-events: none;
}
.welcome__slider-wraper{
    flex: 2 0;

    display: flex;
position: absolute;
right: 0;
top: 0;
max-width: 1000px;
min-height: 740px;
z-index: 1;
}
.welcome__slider{
width: 100%;
}
.welcome__slide{
    display: none;
    // overflow: hidden;
    //    opacity: 0;
       
//    pointer-events: none;
    // width: 0;
    // height: 0;
}
.welcome__slide.active{
    display: block;
    // opacity: 1;
    width: 100%;
    height: 100%;
    // transition: opacity 200ms linear;
}
.navigation-set-wraper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    bottom: -60px;
    right: 0;

    width: 100%;
    max-width: 600px;
    min-height: 120px;
    padding: 0 73px;

    background-color: $bgBlack;

    z-index: 1;
}
.navigation-num__box{
width: 76px;
display: flex;
justify-content: space-between;
align-items: center;
}

.navigation-num,
.dash,
.navigation-num2{
font-weight: 400;
font-size: 22px;
line-height: 1.82;
}

.dot-set{
   max-width: 180px;
flex: 1 1;
display: flex;
justify-content: space-between;
}
.dot{
    width: 16px;
    height: 16px;
    background-color: $bgWhite;
    cursor: pointer;
    transition: background-color $transition-time $transition-duration ;
}
.dot.active,
.dot:hover{
    background-color: #D2B183;
}


.btn-set{
    flex: 1 1;
    // width: 100%;
    // height: 100%;
max-width: 85px;
display: flex;
justify-content: space-between;
}

.btn-prev,
.btn-next{
     width: 35px;
     height: 15px;

     display: flex; 
     justify-content: center;
     align-items: center;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  
}
.btn-arrow-icon{
    width: 30px;
    height: 8px;
    fill: white;
    transition: fill $transition-time $transition-duration;
}
.btn-prev:hover .btn-arrow-icon,
.btn-next:hover .btn-arrow-icon,
.btn-prev:focus .btn-arrow-icon,
.btn-next:focus .btn-arrow-icon{
   fill: $bgBtnGold;
}



